.div2{
    position: fixed;
    background-color: rgb(43, 202, 226);
    border: solid 2px black;
    top: 200px;
    right: 20px;
    width: 500px;
    height: 200px;
}




 

 

 
.bottom-left-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    border: solid 10px black;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 


 
